/* CSS Document */*, *::after, *::before {
  box-sizing: border-box;
}

/*Font*/
form, input, #zoek {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}

div {
position: absolute;
justify-content: space-between;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

img {
  justify-content: space-between;
}


/* tekst */
h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
}
/* Zoekbalk */

form, input, #zoek {
  align-items: center;
}

form {
  background-color: #F5F6F4;
  margin: 0;
  padding: .5em;
  border-radius: .2em;
  width: 24em;
}

input {
  background-color: #F5F6F4;
  border-style: none;
}

#zoek {
  align-items: center;
  color: #F5F6F4;
}

/* Section 1 */
section {
  position: relative;
}

#section1h1, #section1h2, #section1h3 {
  text-align: right;
}

#section1h1 {
  font-family: 'Roboto bold', sans-serif;
  font-size: 40px;

}

#section1h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#section1h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

/*section2*/

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: black;
}


#favorieten
{
  font-family: 'Roboto bold', sans-serif;
  font-size: 20px;
  color: black;

}
