/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
}

/*Font*/
form, input, #zoek {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

/* Header */
body {
  margin: 0 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>button,
header a {
  width: 1.5em;
  background-color: transparent;
  text-indent: -666em;
  height: 1.5em;
  border: none;
  display: block;
  text-decoration: none;
}

header>button {
  background-image: url('../images/menu.png');
  background-size: contain;
  background-repeat: no-repeat;
}

header ul {
  list-style: none;
  padding: 0;
  display: flex;
}

header ul li {
  margin-left: 1em;
}

header ul li a {
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

#logo {
  background-image: url('../images/logo.png');
  background-size: cover;
  height: 2em;
  width: 8em;
}

header ul li:nth-of-type(1) a {
  background-image: url('../images/hart.png');
}

header ul li:nth-of-type(2) a {
  background-image: url('../images/winkelmand.png');
}

#divsection1 {
  position: absolute;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* tekst */
h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: black;
}

/* Zoekbalk */
form, input, #zoek {
  align-items: center;
  background-image: url('../images/zoek.png')
  background-position: 10px 10px;
  z-index: 10;
}

form {
  background-color: #F5F6F4;
  padding: .5em;
  border-radius: .2em;
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: space-between;
}

input {
  background-color: #F5F6F4;
  border-style: none;
}

#zoek {
  align-items: center;
  color: #F5F6F4;
}

#zoekimg {
  width: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  background-size: cover;
}

/* Section 1 */
section {
  position: relative;
}

#hoofdfoto {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#section1h1, #section1h2, #shopnu {
  text-align: left;
  color: white;
  align-items: left;
  letter-spacing: 0.5px;
}

#section1h1 {
  font-family: 'Roboto bold', sans-serif;
  font-size: 30px;
}

#section1h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

#shopnu {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

/*section2*/
div article {
  padding: auto;
  margin: 0 1.5em 0 0;
}

h3 {
  font-size: 1em;
}

.slider {
  width: 100%;
}

.slides {
  display: flex;
  /*Zorgt ervoor dat het slide*/
  overflow-x: auto;
  //-webkit-overflow-scrolling: touch;
}

img {
  object-fit: cover;
  height: 15em;
  width: 15em;
}

/*section3*/
#dineren {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

/*section4*/
#nieuwsbriefH2 {
  font-family: 'Rozha One', serif;
  font-size: 1.5em;
}

#nieuwsbriefP {
  font-size: 1em;
}

#nieuwsbrief {
  align-items: center;
  background-position: 10px 10px;
  padding-left: 1.5em;
  background-color: #EFEEE6;
  border-radius: .2em;
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
}

#emailForm {
  background-color: transparent;
  border: black solid 2pt;
  display: flex;
  height: 3em;
  width: 100%;
  text-align: center;

}

#verzenden {
  background-color: black;
  color: white;
  border-style: none;
  padding: 1em;
  margin: 1em;
}

/*section5*/
.dropButton{
  background: orange;
  width: 100%;
  padding: .5em;
  margin-top: 1em;
  margin-bottom: 1em;
  border-style: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropTekst {
  display: none;
  position: absolute;
  background-color: green;
  min-width: 160px;
}

/* Links in de dropdown */
.dropTekst a {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: block;
}

.dropTekst a:hover {
  background-color: #red
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropButton {
  background-color: pink;
}
